<div ng-controller="DashboardController">
    <h1 class="w3-center w3-text-theme">{{ name }}'s Dashboard</h1>
    <div class="w3-row-padding w3-container">
        <div class="w3-third s4 w3-panel">

            <header class="w3-container w3-theme-d1">
                <h1>In Progress</h1>
            </header>

            <div class="w3-container w3-center w3-theme-d3">
                <h2 style="text-shadow:1px 1px 0 #444">{{ pending }}</h2>
            </div>
        </div>
        <div class="w3-third s4 w3-panel">

            <header class="w3-container w3-theme-d1">
                <h1>Completed</h1>
            </header>

            <div class="w3-container w3-center w3-theme-d3">
                <h2 style="text-shadow:1px 1px 0 #444">{{ completed }}</h2>
            </div>
        </div>
        <div class="w3-third s4 w3-panel">

            <header class="w3-container w3-theme-d1">
                <h1>Total</h1>
            </header>

            <div class="w3-container w3-center w3-theme-d3">
                <h2 style="text-shadow:1px 1px 0 #444">{{ total }}</h2>
            </div>
        </div>
    </div>
</div>