<div ng-controller="LoginController">
    <!-- <label for="card"class="w3-theme-d1">
                <b>Note Taker <i>2000</i></b>
        </label>
    <div name="card" class="w3-container w3-display-middle w3-card w3-theme-l4">
        
        <form>
            <input class="w3-input w3-border w3-grey" type="text" placeholder="Username" ng-model="username" />
            <input class="w3-input w3-border w3-grey" type="password" placeholder="Password" ng-model="password" />
            <input class="w3-input w3-border w3-button w3-theme-d1" type="submit" value="Login" ng-click="login()" />
        </form>
    </div> -->
    <div class="w3-display-middle w3-panel w3-center">

        <header class="w3-container w3-theme-d1">
            <h1><b>Note Taker <i>2000</i></b></h1>
        </header>

        <div>
            <input class="w3-input w3-border" type="text" placeholder="Username" ng-model="username" />
            <input class="w3-input w3-border" type="password" placeholder="Password" ng-model="password" />
        </div>

        <footer>
            <input class="w3-input w3-border w3-button w3-theme-d1" type="submit" value="Login" ng-click="login()" />
        </footer>

    </div>
</div>